body {
    margin: 0;
    background-color: #ffffff;
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-color: black;
}

.spook {
    padding-right: 20px;
}
p {
    font-size: 2.7rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: black;
    text-shadow: 4px 4px #808080;
}

#wrapper {
    min-height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#wrapper-inner {
    margin-top: 20px;
    width: 360px;
    height: 400px;
    display: none;
}

.grid {
    background: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 360px;
    width: 360px;
    grid-gap: 10px;
}

.box {
    background: rgba(255, 106, 0, 0.70);
    font-size: 2.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100%;
    width: 100%;
    border: 10px solid black;
    opacity: 0.8;
}

.test0 {
    background: black;
    color: white;
}

.test1 {
    color: white;
    background: black;
}

.visible {
    visibility: visible !important;
}

#test2 {
    font-size: 1m;
    font-weight: bold;
}

.box-background {
    background: white;
}

#announce-box {
    visibility: hidden;
    width: 100%;
    text-align: center;
    width: 380px;
}

#announce {
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    width: 380px;
}

.signatur {
    font-size: 1.2rem;
    color: #ff3636;
    font-family: 'Aguafina Script', cursive;
    text-shadow: 1px 1px black;
    letter-spacing: 3px;
    word-spacing: 20px;
}

#testing {
    background: #6A3600;
    background-image: -webkit-linear-gradient(top, #6A3600, #D56500);
    background-image: -moz-linear-gradient(top, #6A3600, #D56500);
    background-image: -o-linear-gradient(top, #6A3600, #D56500);
    background-image: -webkit-gradient(to bottom, #6A3600, #D56500);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #000000;
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    -webkit-box-shadow: 1px 1px 12px 10px #000000;
    -moz-box-shadow: 1px 1px 12px 10px #000000;
    box-shadow: 1px 1px 12px 10px #000000;
    text-shadow: 1px 1px 5px #000000;
    border: solid #000000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

    #testing:hover {
        border: solid #000000 1px;
        background: #741B00;
        background-image: -webkit-linear-gradient(top, #741B00, #A16506);
        background-image: -moz-linear-gradient(top, #741B00, #A16506);
        background-image: -ms-linear-gradient(top, #741B00, #A16506);
        background-image: -o-linear-gradient(top, #741B00, #A16506);
        background-image: -webkit-gradient(to bottom, #741B00, #A16506);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-decoration: none;
    }